.new-expense__control {
  margin-bottom: 1rem;
  text-align: center;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 2px solid #48998e;
  width: 20rem;
  max-width: 100%;
}

.new-expense__actions {
  text-align: center;
}
